body {
    background: #333133;
    padding: 0;
    margin: 0;
}
h1 {
    color: #7c197c
}

.header {
    display: flex;
    padding: 20px 32px;
    background: #222020;
    justify-content: space-between;
    align-items: center;
}

.header .header-cart {
    background: #4f197c;
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 16px;
}

.header .header-logo {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin: 15px 0 10px 0;
    font-size: 20px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card .price {
    font-size: 18px;
    color: #e67e22;
    margin-top: 10px;
    font-weight: bold;
}