body {
    background: #333133;
    padding: 0;
}
h1 {
    color: #7c197c
}

.header-menu {
    background: #222020;
    color: #ffffff;
    padding: 5px 25px;
    display: flex;
}

.header-menu .logo {
    margin-right: auto;
    font-size: 16px;
}

.header-menu ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-left: 30px;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #268fd4;
}

.main-content {
    padding: 30px 20%;
}

.main-content .page-title {
    text-align: center;
}

.main-content .info-block {
    padding: 20px;
    display: flex;
    gap: 35px;
}

.main-content .info-block p {
    font-size: 16px;
    color: #fff;
}

.main-content .info-block .image {
    width: 300px;
    border-radius: 20px;
    height: auto;
}